In [47]:
import itertools
import urllib
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
import csv
from pandas import read_csv
import seaborn as sns

%matplotlib inline

In [48]:
df = pd.read_csv("https://media.githubusercontent.com/media/tayher2679/Github/main/train.csv?token=AMDXJWMWNU5R5FJJBGFMLS3BRIUIM")
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [49]:
df.shape

(233154, 41)

In [37]:
df.describe

<bound method NDFrame.describe of         UniqueID  disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0         420825             50578       58400  89.55         67        22807
1         537409             47145       65550  73.23         67        22807
2         417566             53278       61360  89.63         67        22807
3         624493             57513       66113  88.48         67        22807
4         539055             52378       60300  88.39         67        22807
5         518279             54513       61900  89.66         67        22807
6         529269             46349       61500  76.42         67        22807
7         510278             43894       61900  71.89         67        22807
8         490213             53713       61973  89.56         67        22807
9         510980             52603       61300  86.95         67        22807
10        548567             53278       61230  89.83         67        22807
11        486821             64769       74190  89.23         67        22807
12        478647             53278       61330  89.68         67        22807
13        479533             49478       57010  89.46         67        22807
14        483869             49278       57080  89.35         67        22807
15        600655             47549       61400  79.80         67        22807
16        513916             57713       65750  89.28         67        22807
17        522020             53503       62100  87.28         67        22807
18        492995             70017       86760  82.99         67        22807
19        568857             58259       68500  86.13         67        22807
20        590630             58013       69650  84.71         67        22807
21        467015             31184       57110  56.91         67        22807
22        563215             43594       78256  57.50         67        22744
23        513139             54513       61900  89.66         67        22807
24        498082             73123       92900  79.66         67        22807
25        586411             55213       68600  83.09         67        22807
26        440293             53713       61780  89.83         67        22807
27        566763             57713       68040  86.27         67        22807
28        605314             57513       65750  88.97         67        22807
29        519075             54513       61900  89.66         67        22807
...          ...               ...         ...    ...        ...          ...
233124    585873             52803       68027  79.38        101        24031
233125    573573             40894       72123  58.23        101        24031
233126    559119             42894       73505  59.86        101        24031
233127    575725             63447       82220  79.06        101        24031
233128    607646             57259       73914  79.15        101        24031
233129    497980             58513       81739  73.40        101        24031
233130    450782             60447       78437  79.04        101        24031
233131    542403             29029       68935  43.52        101        24031
233132    479107             60447       78437  79.04        101        24031
233133    623933             53303       69351  77.86         34        23024
233134    609494             48349       96022  51.55         34        20700
233135    624780             39439       60334  66.30         34        20700
233136    606171             50155       60679  85.00         34        21081
233137    631394             43210       60334  72.93         34        20700
233138    607521             28029       45953  63.11         34        20700
233139    610384             42894       69351  63.45         34        23024
233140    623179             42894       60334  72.93         34        20700
233141    606375             29029       45233  66.32         34        20700
233142    606173             57013       69001  84.78         34        23024
233143    626823             61213       89708  69.11         34        20700
233144    613161             56059       69001  83.04         34        23024
233145    606146             49803       66973  76.15         34        21081
233146    622612             38439       52965  74.58         34        20700
233147    645697             72623      105405  69.73         34        20700
233148    613494             42894       60334  72.93         34        20700
233149    626432             63213      105405  60.72         34        20700
233150    606141             73651      100600  74.95         34        23775
233151    613658             33484       71212  48.45         77        22186
233152    548084             34259       73286  49.10         77        22186
233153    630213             75751      116009  66.81         77        22186

        manufacturer_id  Current_pincode_ID Date.of.Birth Employment.Type  \
0                    45                1441      01-01-84        Salaried
1                    45                1502      31-07-85   Self employed
2                    45                1497      24-08-85   Self employed
3                    45                1501      30-12-93   Self employed
4                    45                1495      09-12-77   Self employed
5                    45                1501      08-09-90   Self employed
6                    45                1502      01-06-88        Salaried
7                    45                1501      04-10-89        Salaried
8                    45                1497      15-11-91   Self employed
9                    45                1492      01-06-68        Salaried
10                   45                1493      01-01-79   Self employed
11                   45                1446      07-09-84        Salaried
12                   45                1497      01-06-74        Salaried
13                   45                1497      16-08-84        Salaried
14                   45                1495      18-02-73   Self employed
15                   45                1440      05-07-94        Salaried
16                   45                1440      01-06-76   Self employed
17                   45                1498      27-02-83   Self employed
18                   45                1479      10-08-88   Self employed
19                   45                1468      16-04-80   Self employed
20                   45                1497      01-11-78   Self employed
21                   45                1498      29-02-84        Salaried
22                   86                1499      14-07-94   Self employed
23                   45                1468      31-05-79   Self employed
24                   45                1480      02-01-89   Self employed
25                   45                1494      01-01-86        Salaried
26                   45                1468      02-08-68   Self employed
27                   45                1497      01-01-76   Self employed
28                   45                1497      12-09-72   Self employed
29                   45                1473      27-06-69   Self employed
...                 ...                 ...           ...             ...
233124              120                 701      30-09-84        Salaried
233125              120                 696      13-05-88        Salaried
233126              120                 692      02-12-74   Self employed
233127              120                 701      05-03-76   Self employed
233128              120                 705      06-04-69        Salaried
233129              120                 696      18-07-80        Salaried
233130              120                 687      16-01-64        Salaried
233131              120                 690      31-12-94   Self employed
233132              120                 687      03-09-92   Self employed
233133               86                 977      31-12-80        Salaried
233134               48                1050      01-06-81   Self employed
233135               48                1051      01-01-96        Salaried
233136               45                1051      02-11-72        Salaried
233137               48                1050      14-09-73   Self employed
233138               48                 992      20-03-83        Salaried
233139               86                1050      14-08-81   Self employed
233140               48                1051      23-01-89   Self employed
233141               48                1067      09-01-96        Salaried
233142               86                 987      03-03-94   Self employed
233143               48                1051      25-01-67   Self employed
233144               86                1044      15-06-63        Salaried
233145               45                1051      23-12-85   Self employed
233146               48                1051      23-07-82   Self employed
233147               48                1051      19-06-89        Salaried
233148               48                1051      08-07-93        Salaried
233149               48                1050      01-08-88        Salaried
233150               51                 990      05-12-88   Self employed
233151               86                2299      01-06-76        Salaried
233152               86                2299      26-03-94        Salaried
233153               86                2299      18-02-84        Salaried

        ... SEC.SANCTIONED.AMOUNT  SEC.DISBURSED.AMOUNT  PRIMARY.INSTAL.AMT  \
0       ...                     0                     0                   0
1       ...                     0                     0                1991
2       ...                     0                     0                   0
3       ...                     0                     0                  31
4       ...                     0                     0                   0
5       ...                     0                     0                1347
6       ...                     0                     0                   0
7       ...                     0                     0                   0
8       ...                     0                     0                   0
9       ...                     0                     0                2608
10      ...                     0                     0                2270
11      ...                     0                     0                   0
12      ...                     0                     0                3300
13      ...                     0                     0               23309
14      ...                     0                     0                3514
15      ...                     0                     0                7900
16      ...                     0                     0               47100
17      ...                     0                     0                4982
18      ...                     0                     0                   0
19      ...                     0                     0                   0
20      ...                     0                     0                 557
21      ...                     0                     0               11083
22      ...                     0                     0                   0
23      ...                     0                     0                1700
24      ...                     0                     0                   0
25      ...                     0                     0                   0
26      ...                     0                     0                   0
27      ...                     0                     0                   0
28      ...                     0                     0                   0
29      ...                     0                     0                8972
...     ...                   ...                   ...                 ...
233124  ...                     0                     0                   0
233125  ...                     0                     0               16547
233126  ...                     0                     0                   0
233127  ...                     0                     0                   0
233128  ...                     0                     0               11830
233129  ...                     0                     0               79611
233130  ...                     0                     0               23356
233131  ...                     0                     0                8244
233132  ...                     0                     0               10480
233133  ...                     0                     0                   0
233134  ...                     0                     0                   0
233135  ...                     0                     0                   0
233136  ...                     0                     0                8288
233137  ...                     0                     0               14583
233138  ...                     0                     0                   0
233139  ...                     0                     0                   0
233140  ...                     0                     0               12880
233141  ...                     0                     0                2034
233142  ...                     0                     0                4665
233143  ...                     0                     0               12602
233144  ...                     0                     0                   0
233145  ...                     0                     0                1672
233146  ...                     0                     0                   0
233147  ...                     0                     0                   0
233148  ...                     0                     0                   0
233149  ...                     0                     0                4084
233150  ...                     0                     0                1565
233151  ...                     0                     0                   0
233152  ...                     0                     0                   0
233153  ...                     0                     0                   0

        SEC.INSTAL.AMT  NEW.ACCTS.IN.LAST.SIX.MONTHS  \
0                    0                             0
1                    0                             0
2                    0                             0
3                    0                             0
4                    0                             0
5                    0                             0
6                    0                             0
7                    0                             0
8                    0                             0
9                    0                             0
10                   0                             0
11                   0                             0
12                   0                             0
13                   0                             1
14                   0                             0
15                   0                             1
16                   0                             1
17                   0                             1
18                   0                             0
19                   0                             0
20                   0                             1
21                   0                             0
22                   0                             0
23                   0                             0
24                   0                             0
25                   0                             0
26                   0                             0
27                   0                             0
28                   0                             0
29                   0                             1
...                ...                           ...
233124               0                             0
233125               0                             1
233126               0                             0
233127               0                             3
233128               0                             1
233129               0                             1
233130               0                             1
233131               0                             1
233132               0                             1
233133               0                             0
233134               0                             0
233135               0                             0
233136               0                             0
233137               0                             1
233138               0                             0
233139               0                             0
233140               0                             0
233141               0                             0
233142               0                             1
233143               0                             1
233144               0                             0
233145               0                             2
233146               0                             2
233147               0                             1
233148               0                             0
233149               0                             0
233150               0                             0
233151               0                             0
233152               0                             0
233153               0                             0

        DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  AVERAGE.ACCT.AGE  \
0                                         0         0yrs 0mon
1                                         1        1yrs 11mon
2                                         0         0yrs 0mon
3                                         0         0yrs 8mon
4                                         0         0yrs 0mon
5                                         0         1yrs 9mon
6                                         0         0yrs 0mon
7                                         0         0yrs 2mon
8                                         0         4yrs 8mon
9                                         0         1yrs 7mon
10                                        0         0yrs 7mon
11                                        0         2yrs 1mon
12                                        0         1yrs 3mon
13                                        0         1yrs 0mon
14                                        0        3yrs 11mon
15                                        0         0yrs 1mon
16                                        1         2yrs 6mon
17                                        0        1yrs 10mon
18                                        0         1yrs 9mon
19                                        0        0yrs 11mon
20                                        0         0yrs 6mon
21                                        0         2yrs 9mon
22                                        0         0yrs 0mon
23                                        0         1yrs 3mon
24                                        0         0yrs 0mon
25                                        0         0yrs 0mon
26                                        0         0yrs 0mon
27                                        0         0yrs 0mon
28                                        0         3yrs 1mon
29                                        0         2yrs 0mon
...                                     ...               ...
233124                                    0         0yrs 0mon
233125                                    0         2yrs 3mon
233126                                    0         0yrs 0mon
233127                                    0         1yrs 1mon
233128                                    0         0yrs 2mon
233129                                    1         2yrs 1mon
233130                                    0         4yrs 1mon
233131                                    0         0yrs 5mon

In [50]:
dftitle=pd.read_csv("https://media.githubusercontent.com/media/tayher2679/Github/main/data_dictionary.csv?token=AMDXJWLE2RPR6XRXAHH7FFLBRIUSM")
dftitle

,Unnamed: 0,Variable Name,Description,Unnamed: 2
0,0,UniqueID,Identifier for customers,NaN
1,1,loan_default,Payment default in the first EMI on due date,NaN
2,2,disbursed_amount,Amount of Loan disbursed,NaN
3,3,asset_cost,Cost of the Asset,NaN
4,4,ltv,Loan to Value of the asset,NaN
5,5,branch_id,Branch where the loan was disbursed,NaN
6,6,supplier_id,Vehicle Dealer where the loan was disbursed,NaN
7,7,manufacturer_id,"Vehicle manufacturer(Hero, Honda, TVS etc.)",NaN
8,8,Current_pincode,Current pincode of the customer,NaN
9,9,Date.of.Birth,Date of birth of the customer,NaN
10,10,Employment.Type,Employment Type of the customer (Salaried/Self...,NaN
11,11,DisbursalDate,Date of disbursement,NaN
12,12,State_ID,State of disbursement,NaN
13,13,Employee_code_ID,Employee of the organization who logged the di...,NaN
14,14,MobileNo_Avl_Flag,if Mobile no. was shared by the customer then ...,NaN
15,15,Aadhar_flag,if aadhar was shared by the customer then flag...,NaN
16,16,PAN_flag,if pan was shared by the customer then flagged...,NaN
17,17,VoterID_flag,if voter was shared by the customer then flag...,NaN
18,18,Driving_flag,if DL was shared by the customer then flagged ...,NaN
19,19,Passport_flag,if passport was shared by the customer then fl...,NaN
20,20,PERFORM_CNS.SCORE,Bureau Score,NaN
21,21,PERFORM_CNS.SCORE.DESCRIPTION,Bureau score description,NaN
22,22,PRI.NO.OF.ACCTS,count of total loans taken by the customer at ...,Primary accounts are those which the customer ...
23,23,PRI.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
24,24,PRI.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
25,25,PRI.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
26,26,PRI.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
27,27,PRI.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
28,28,SEC.NO.OF.ACCTS,count of total loans taken by the customer at ...,Secondary accounts are those which the custome...
29,29,SEC.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
30,30,SEC.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
31,31,SEC.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
32,32,SEC.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
33,33,SEC.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
34,34,PRIMARY.INSTAL.AMT,EMI Amount of the primary loan,NaN
35,35,SEC.INSTAL.AMT,EMI Amount of the secondary loan,NaN
36,36,NEW.ACCTS.IN.LAST.SIX.MONTHS,New loans taken by the customer in last 6 mont...,NaN
37,37,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Loans defaulted in the last 6 months,NaN
38,38,AVERAGE.ACCT.AGE,Average loan tenure,NaN
39,39,CREDIT.HISTORY.LENGTH,Time since first loan,NaN
40,40,NO.OF_INQUIRIES,Enquries done by the customer for loans,NaN

In [ ]:
#break below is my old code for another project on credit that I have done

In [ ]:
df['due_date'] = pd.to_datetime(df['due_date'])
df['effective_date'] = pd.to_datetime(df['effective_date'])
df.head()

In [ ]:
df['loan_status'].value_counts()

In [ ]:
# notice: installing seaborn might takes a few minutes
!conda install -c anaconda seaborn -y

In [ ]:
import seaborn as sns

bins = np.linspace(df.Principal.min(), df.Principal.max(), 10)
g = sns.FacetGrid(df, col="Gender", hue="loan_status", palette="Set1", col_wrap=2)
g.map(plt.hist, 'Principal', bins=bins, ec="k")

g.axes[-1].legend()
plt.show()

In [ ]:
bins = np.linspace(df.age.min(), df.age.max(), 10)
g = sns.FacetGrid(df, col="Gender", hue="loan_status", palette="Set1", col_wrap=2)
g.map(plt.hist, 'age', bins=bins, ec="k")

g.axes[-1].legend()
plt.show()

In [ ]:
df['dayofweek'] = df['effective_date'].dt.dayofweek
bins = np.linspace(df.dayofweek.min(), df.dayofweek.max(), 10)
g = sns.FacetGrid(df, col="Gender", hue="loan_status", palette="Set1", col_wrap=2)
g.map(plt.hist, 'dayofweek', bins=bins, ec="k")
g.axes[-1].legend()
plt.show()

In [ ]:
df['weekend'] = df['dayofweek'].apply(lambda x: 1 if (x>3)  else 0)
df.head()

In [ ]:
df.groupby(['Gender'])['loan_status'].value_counts(normalize=True)

In [ ]:
df['Gender'].replace(to_replace=['male','female'], value=[0,1],inplace=True)
df.head()

In [ ]:
df.groupby(['education'])['loan_status'].value_counts(normalize=True)

In [ ]:
df[['Principal','terms','age','Gender','education']].head()

In [ ]:
Feature = df[['Principal','terms','age','Gender','weekend']]
Feature = pd.concat([Feature,pd.get_dummies(df['education'])], axis=1)
Feature.drop(['Master or Above'], axis = 1,inplace=True)
Feature.head()
Feature.shape

In [ ]:
X = Feature
X[0:5]

In [ ]:
y = df['loan_status'].values
y[0:5]

In [ ]:
X= preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]
X.shape

In [ ]:
#classification
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [ ]:
loantesttree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
loantesttree.fit(X_train,y_train)
predTree = loantesttree.predict(X_test)
from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_test, predTree))

In [ ]:
print("Avg F1-score: %.4f" % f1_score(y_test, predTree, average='weighted'))
print("Jaccard score: %.4f" % jaccard_similarity_score(y_test, predTree))

In [ ]:
from sklearn import svm
clf = svm.SVC(kernel='rbf')
clf.fit(X_train, y_train) 
yhat2 = clf.predict(X_test)
yhat2 [0:5]

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, yhat2, average='weighted')
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat2)
print("Avg F1-score: %.4f" % f1_score(y_test, yhat2, average='weighted'))
print("Jaccard score: %.4f" % jaccard_similarity_score(y_test, yhat2))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

In [ ]:
k = 9
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

yhat = neigh.predict(X_test)
yhat[0:5]

from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

In [ ]:
Ks = 15
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))
ConfustionMx = [];
for n in range(1,Ks):
    
    #Train Model and Predict  
    neigh = KNeighborsClassifier(n_neighbors = n).fit(X_train,y_train)
    yhat=neigh.predict(X_test)
    mean_acc[n-1] = metrics.accuracy_score(y_test, yhat)

    
    std_acc[n-1]=np.std(yhat==y_test)/np.sqrt(yhat.shape[0])

mean_acc

plt.plot(range(1,Ks),mean_acc,'g')
plt.fill_between(range(1,Ks),mean_acc - 1 * std_acc,mean_acc + 1 * std_acc, alpha=0.10)
plt.legend(('Accuracy ', '+/- 3xstd'))
plt.ylabel('Accuracy ')
plt.xlabel('Number of Nabors (K)')
plt.tight_layout()
plt.show()

print( "The best accuracy was with", mean_acc.max(), "with k=", mean_acc.argmax()+1) 
print("Avg F1-score: %.4f" % f1_score(y_test, yhat, average='weighted'))
print("Jaccard score: %.4f" % jaccard_similarity_score(y_test, yhat))

In [ ]:
#model evaluation
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

In [ ]:
!wget -O loan_test.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/loan_test.csv

In [ ]:
test_df = pd.read_csv('loan_test.csv')
test_df.head()
test_df['due_date'] = pd.to_datetime(test_df['due_date'])
test_df['effective_date'] = pd.to_datetime(test_df['effective_date'])
test_df['dayofweek'] = test_df['effective_date'].dt.dayofweek
test_df['weekend'] = test_df['dayofweek'].apply(lambda x: 1 if (x>3)  else 0)
test_df['Gender'].replace(to_replace=['male','female'], value=[0,1],inplace=True)
Feature1 = test_df[['Principal','terms','age','Gender','weekend']]
Feature1 = pd.concat([Feature1,pd.get_dummies(test_df['education'])], axis=1)
Feature1.drop(['Master or Above'], axis = 1,inplace=True)
Xtest1 = Feature1
ytest1 = test_df['loan_status'].values
Xtest1= preprocessing.StandardScaler().fit(Xtest1).transform(Xtest1)
Xtest1.shape

In [ ]:
#KNN
yhat4 = neigh.predict(Xtest1)
yhat4[0:5]
print("Avg F1-score for KNN: %.4f" % f1_score(ytest1, yhat4, average='weighted'))
print("Jaccard score for KNN: %.4f" % jaccard_similarity_score(ytest1, yhat4))

In [ ]:
predTree1 = loantesttree.predict(Xtest1)
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(ytest1, predTree1))
print("Avg F1-score for Decision Tree: %.4f" % f1_score(ytest1, predTree1, average='weighted'))
print("Jaccard score for Decision Tree: %.4f" % jaccard_similarity_score(ytest1, predTree1))

In [ ]:
yhat5 = clf.predict(Xtest1)
f1_score(ytest1, yhat5, average='weighted')
jaccard_similarity_score(ytest1, yhat5)
print("Avg F1-score for SVM: %.4f" % f1_score(ytest1, yhat5, average='weighted'))
print("Jaccard score for SVM: %.4f" % jaccard_similarity_score(ytest1, yhat5))